/*
Style Name: CSS GRID Review 
Description: Class File
Author: Your Name 
Version: 1.0
Tags: GRID, Build, Be Awesome
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */


/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input, textarea {
	display: block;
	margin: 0;
	padding: 0;
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                          
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
       display: none;
   }

   .box-model {
	   padding: 1em;
	   background: #000;
	   color: white;
	   text-align: center;
   }

   .box-model-sc {
	padding: 1em;
	background: rgb(112, 112, 112);
	color: white;
	text-align: center;
}

   .block {
	display: block;
}

   /*------- Floats --------*/

   .f-left {
	   float: left;
   }

   .f-right {
	   float: right;
   }

   .margin-top-sm {
	margin-top: 3vh;
   }

   /*------- End Floats --------*/
   
 
 
 
 
   /*------- Font Awesome -------*/

   /*------- End Font Awesome -------*/

   
 
 
 
 
   /*------- Mobile Padding ---------*/

   .mobile-padding {
	   padding: 0 1em;
   }

   .margin-top {
	   margin-top: 2.5em;
   }

   /*------- End Mobile Padding ---------*/
 
 
 
   @supports (grid-area: auto) {

	/*------------ Start Mobile ------------*/

	.site {
		max-width: 699px;
	}

	.margin-top {
		margin-top: 2.5em;
	}

	/*------------ Mobile Grid Items ------------*/

	
	.head, .main > *, .foot {
		display: grid;
		grid-template-columns: 5vw repeat(2, 1fr) 5vw;
	}
	

	.one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 5vw;
		column-gap: 5vw;
	}

	.three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 5vw;
		column-gap: 5vw;
	}

	.four-items {
		display: block;
		grid-column: 2 / span 2;
		
	}

	.five-items {
		display: block;
		grid-column: 2 / span 2;
		
	}


	.contact-override {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column: 1 / span 2;
		background: #f4f4f4;
		border-bottom: 1px solid #ccc;
	}
	
	.override {
		display: grid;
		grid-template-columns: 1fr;
		grid-column: 2 / span 2;
	}


	.custom-override {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}

	.grid-full {
		grid-column: 1 / span 4;
	}


	/*------------ Mobile Nav ------------*/

	.logo {
		grid-column: 1 / span 1;
		width: 25vw;
		justify-self: start;
	}

	.nav {
		display: none;
	}

	.store-locator {
		margin: auto 0;
		justify-self: end;
		grid-column: 2 / span 1;
		width: 7vw;
	}

	.store-locator span {
		display: none;
	}

	.store-locator img {
		display: block;
	}

	/*------------ Mobile Foot ------------*/
	.foot {
		background-image: url(../images/foot-bg-mobile.svg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 80vh;
	}

	.logo-foot {
		width: 40vw;
		margin: 10vh 0 0 10vw;

	}

	.foot-hd {
		font-size: 8vw;
		margin: 0;
	}

	.social-icon-bk {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
		width: 50vw;
		margin: -12vh 0 ;
		height: 20vh;
	}

	.social-icon-bk img {
		width: 12vw;
	}





	/*------------ Mobile Index Page ------------*/

	.desktop-hero {
		display: none;
	}

	.mobile-hero {
		display: block;
		height: 80vh;
		width: 100vw;
		overflow: hidden;
	}

	.mobile-slider h4{
		font-family: 'Roboto Condensed', sans-serif;
		margin-top: 0;
		font-size: 13vw;
		line-height: 95%;
		font-weight: 600;
		text-align: center;
	}

	.mobile-slider img {
		display: block;
		width: 45vw;
		margin-left: auto;
  		margin-right: auto;
	}

	.mobile-slider a {
		width: 30vw;
		display: block;
		padding: 0.1em 1em;
		background-color: #e04403;
		color: white;
		margin: 3vh auto ;
		border-radius: 20px;
		font-size: 4vw;
		text-align: center;
	}

	.mobile-slider button:active {
		background-color: #e04403;
	}

	.logo-an {
		height: 90vw;
	}
 
	.video {
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.73);
	}

	.video video {
		margin: 5vh auto;
		width: 80vw;
		object-fit: cover;
	}

	.explainer {
		display: none;
	}
	
	.wholesale {
		text-align: center;
	}

	.wholesale h2 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16vw;
	}

	.wholesale p {
		font-size: 3vw;
		font-weight: 100;
	}

	.wholesale a {
		display: none;
	}

	.ws-text {
		font-size: 3vw;
		font-weight: 800;
		padding: 0.5em;
		border-bottom: #000 solid 0px;
	}

	.case-pallet {
		overflow: hidden;
		display: flex;
		margin-top: 5vh;
	}

	.video-two {
		display: none;
	}

	.contact-hd {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 12vw;
		line-height: 80%;
		padding-right: 40vw;
		margin-top: 20vh;
	}

	.contact-info {
		font-size: 3vw;
		line-height: 95%;
		font-weight: 100;
		margin-top: 12vh;
	}

	.contact-info h4 {
		font-weight: 100;
	}

	.contact-form {
		color: #000;
		margin-top: 1vh;
	}

	.contact-form input {
		font-family: 'Nunito Sans', sans-serif;
		border: none;
		font-size: 3vw;
		width: 90vw;
		border-bottom: #000 1px solid;
		font-weight: 100;
		padding: 1.2vh 0 ;
	}

	.contact-form textarea {
		font-family: 'Nunito Sans', sans-serif;
		font-size: 3vw;
		border: none;
		font-weight: 100;
		width: 90vw;
		border-bottom: #000 1px solid;
		padding: 1.2vh 0 ;

	}

	.contact-form #submit-but {
		width: 30vw;
		display: block;
		padding: 0.1em 1em;
		background-color: #e04403;
		color: white;
		border-radius: 20px;
		font-size: 3vw;
		text-align: center;
		border-bottom: none;
		margin-top: 2vh;
	}

	.contact-form #submit-but:active{
		background-color: #9a2e00;
	}

	/*------------ Mobile Locator Page ------------*/
	.locator-hd h3{
		font-size: 10vw;
		text-align: center;
		font-weight: 100;
		line-height: 95%;
	}

	.locator-hd {
		font-weight: 100;
		text-align: center;
		margin-top: 8vh;
	}

	.mobile-map {
		margin: 2vh auto;
	}


	.mobile-map  iframe{
		width: 100%;
		height: 70vh;
		border: none;
	}


	.desktop-map {
		display: none;
	}

	.store-list {
		height: 40vh;
		margin-bottom: 10vh;
		overflow-y: scroll;
		scrollbar-color: #00B577;
		scrollbar-width: 2vw;
		border-top: #000 1px solid;
	}

	.store-card {
		display: flex;
	}

	.store-card span {
		font-size: 3vw;
		text-transform: uppercase;
		margin-right: 20vw;
	}

	.store-card p {
		font-weight: 100;
	}

	.store-card {
		padding: 5vh 0;
		border-bottom: #000 solid 1px;
	}

	.src-function {
		grid-column: 1 / span 2;
	}

	.src-function input {
		font-size: 3vw;
		padding: 1vw 1vh;
		border: black 1px solid;
		border-radius: 50px;
		width: 50vw;
	}

	.flex {
		display: inline-flex;
		margin: 0 14vw;
	}

	#src-but {
		background-color: #00B577;
		height: 6vh;
		width: 10vw;
		border-radius: 50px;
		margin-left: .5vw;
		padding: auto;
	}

	#src-but:active{
		background-color: #006c46;
	}



	/*------------ Mobile Product Page ------------*/
	
	.product-img-lg {
		height: 70vh;
	}

	.prd-text {
		display: none;
	}

	#prod-des {
		grid-column: 1 / span 2;
	}

	#prod-img {
		grid-column: 1/ span 2;
	}









	

	/*------------ Start Tablet ------------*/

	@media screen and (min-width: 700px) {

		.site {
			max-width: 1023px;
		}

		.margin-top {
			margin-top: 5vh;
		}

		.mobile-slider h4 {
			font-size: 9vw;
		}

		.mobile-slider a {
			font-size: 3vw;
			width: 20vw;
		}

		.mobile-slider img {
			width: 30vw;
		}

		.logo-an {
			height: 50vh;
			width: 50vw;
			justify-self: center;
		}

		.video-two {
			height: 30vh;
		}

		









	}


	/*------------ Start Desktop ------------*/

	
	@media screen and (min-width: 1024px) {

		.site {
			max-width: none;
		}

		.margin-top {
			margin-top: 10vw;
		}

		/*------------ Grid Items ------------*/

		.head, .main > *, .foot {
			display: grid;
			grid-template-columns: 5vw repeat(2, minmax(auto, 50em)) 5vw;
		}

		.one-item {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}

		.two-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.three-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.four-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(4, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.five-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(5, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.contact-override {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
			grid-column: 1 / span 4;
			background: #f4f4f4;
			border-bottom: 1px solid #ccc;
		}

		

		/*------------  End Grid Items ------------*/

		/*------------ Desktop Nav ------------*/

		.nav {
			display: grid;
			grid-column: 1 / span 1;
			width: 25vw;
			justify-self: start;
		}

		nav ul {
			padding-left: 0;
		}

		nav ul li {
			margin-left: 0 !important;
		}

		nav ul li {
			list-style-type: none;
			display: inline;
			margin-right: 1.5vw;
			font-size: 1.5em;
			font-weight: 300;
		}

		nav ul li a {
			text-decoration: none;
			color: #000;
		}

		nav ul li a:hover{
			position: relative;
			top: 7px;
		}


		.logo {
			width: 9.5vw;
			grid-column: 2 / span 1;
			justify-self: center;
	
		}

		.store-locator {
			grid-column: 3 / span 1;
			width: 15vw;
		}

		.store-locator span {
			font-size: 1.5em;
			font-weight: 300;
			display: block;
			text-align: right;
			text-decoration: none;
			color: black;
		}
		
		.store-locator span:hover {
			position: relative;
			top: 7px;
		}


		.store-locator img {
			display: none;
		}

		/*------------ Desktop foot ------------*/

		.foot {
			background-image: url(../images/foot-bg.svg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 60vh;

		}

		.logo-foot {
			width: 25vw;
			margin: -2vh auto;
		}

		.foot-hd {
			font-size: 3vw;
			font-weight: 400;
			margin: -5vh auto;
		}
		
		.social-icon-bk img {
			width: 5vw;
		}

		.social-icon-bk {
			width: 20vw;
			margin: -10vh auto;
		}

		/*.social-icon-bk {
			width: 20em;
			margin: 0 auto ;
		}
		
		/*------------ Desktop Hero ------------*/
		.bg-image {
			background-image: url(../images/hero-decor.svg);
			background-size:cover;
			background-repeat: no-repeat;
			background-position: 50%;
		}

		.desktop-hero {
			display: grid;
			margin-top: 20vh;
			
		}

		.hero-text-display {
			display: inline;
			margin: 0 auto;
			opacity: 0%;
		}

		.hero-text-display span {
			position: relative;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 4vw;
			letter-spacing: -4px;
			top: 20vh;
		}



		.bottle-display {
			display: inline;
			height: 120vh;
			margin: 0 auto;
		}

		.bottle-display img {
			width: 15vw;
			transition: all 0.6s ease-out;
		}

		#energy {
			position: relative;
			left: 3vw;
			top: 3vh;
			width: 14vw;
			transform: rotate(-15deg);
		}

		#energy:hover {
			width: 16vw;
			left: -2vw;
		}

		#energy:hover ~ .hero-text-display {
			opacity: 100%;
		}

		#classic {
			position: relative;
			z-index: +1;
		}

		#classic:hover {
			width: 17vw;
		}

		#zero {
			position: relative;
			left: -3vw;
			top: 3vh;
			width: 14vw;
			transform: rotate(15deg);
		}

		#zero:hover {
			width: 16vw;
			left: 2vw;

		}

		.mobile-hero {
			display: none;
		}

		/*------------ Desktop Product ------------*/
		.explainer {
			display: grid;
			background-image: url(../images/explainer-decor.svg);
			background-repeat: no-repeat;
			background-position: 0% 0%;
		}

		.prdt-selector {
			grid-column: 1 / span 1;
			margin-top: 30vh;
		}

		.selector-text {
			margin: 3vh 5vw;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 600;
			font-size: 2vw;
			border-bottom: solid 3px black;
			font-style: italic;

		}

		.prdt-cards-all {
			grid-column: 2 / span 3;
			width: 60vw;
			display: block;
			height: 85vh;
			overflow: hidden;
		}

		.prdt-card {
			height: 85vh;
		}

		#classic-text {
			margin-left: 25vw;
			font-size: 1.5vw;
			font-weight: 400;
		}

		#classic-text h3{
			font-size: 7vw;
			line-height: 90%;
			padding-bottom: 6vh;
			padding-top: 8vh;
			font-weight: 800;
			font-style: italic;
		}

		#classic-text h3 span {
			font-weight: 100;
		}

		#energy-text {
			font-size: 1.5vw;
			font-weight: 400;
		}

		#energy-text h3 {
			font-size: 4vw;
			line-height: 125%;
			padding-bottom: 6vh;
			padding-top: 8vh;
			font-weight: 200;
		}

		#energy-text h3 span {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 8vw;
			font-weight: 800;
		}

		#zero-text p{
			font-size: 1.5vw;
			font-weight: 400;
			margin-left: 30vw;
		}

		#zero-text h3{
			font-size: 8vw;
			font-weight: 100;
		}

		#zero-text span {
			font-weight: 700;
		}

		.zero-bg {
			background-image: url(../images/zero-display.jpg);
			background-repeat: no-repeat;
			background-size:contain;
		}




		/*------------ Desktop Wholesale ------------*/

		.wholesale {
			text-align: left;
		}

		.wholesale h2 {
			font-size: 6vw;
		}

		.wholesale p {
			font-size: 1vw;
			padding-right: 10vw;
		}

		.wholesale a {
			width: 10vw;
			display: block;
			padding: 0.1em 1em;
			background-color: #e04403;
			color: white;
			margin: 5vh 0 ;
			border-radius: 20px;
			font-size: 1.3vw;
			text-align: center;
		}

		.wholesale a:hover {
			background-color: #9a2e00;
		}

		.ws-text {
			font-size: 1.2vw;
			text-align: center;
			font-weight: 500;
		}

		.case-pallet img {
			width: 20vw;
		}

		.three-bottle {
			background-image: url(../images/three-bottle.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50%;
		}
		
		/*------------ Desktop Video Two ------------*/

		.video-two-bg {
			background-image: url(../images/video-two-decor.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 100%;
			height: 88vh;
		}
		
		.video-two {
			margin-top: 20vh;
		}

		.video-two iframe {
			width: 40vw;
			height: 25vw;
		}
		
		.video-two-text {
			margin-top: 25vh;
			color: white;
			padding-right: 15vw;
			font-size: 1.5vw;
			font-weight: 200;
		}

		.video-two-text span {
			font-size: 2vw;
			font-weight: 800;
		}
		
		
		/*------------ Desktop Contact ------------*/
		.contact-hd {
			font-size: 6vw;
			text-align: right;
			padding-right: 0;
			margin: 0;
		}

		.contact-info {
			margin-top: 0;
			font-size: 1.5vw;
		}
		
		.contact-subh {
			grid-column: 1 / span 2;
		}

		.contact-subh h3 {
			line-height: 100%;
			font-weight: 500; 
			font-size: 2vw;
		}

		.contact-form {
			grid-column: 3 / span 3;
		}

		.contact-form input {
			font-size: 1.2vw;
			width: 50vw;
			font-weight: 500;			
		}

		.contact-form textarea {
			font-size: 1.2vw;
			font-weight: 500;
			width: 50vw;
		}

		.contact-form #submit-but {
			width: 15vw;
			font-size: 1.3vw;
		}

		/*------------ Desktop Locator Page ------------*/
		.locator-hd {
			width: 50vw;
			margin:10vh auto 5vh;
			font-size: 1.5vw;
		}
		
		.locator-hd h3{
			font-size: 5vw;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
		}

		.drop-shadow {
			box-shadow: 0px 0px 20px -5px #00000040;
		}
		
		.mobile-map {
			display: none;
		}

		.desktop-map {
			display: block;
			grid-column: 2 / span 3;
		}

		.desktop-map iframe {
			width: 100%;
			height: 100%;
			border: none;
		}

		.store-card span {
			font-size: 1.5vw;
			text-transform: uppercase;
			margin-right: 10vw;
		}

		.src-function {
			grid-column: 1 / span 1;
			padding: 2vh 0 0 2vw;
		}

		.src-function input {
			font-size: 1.5vw;
			padding: 0.5vw 1.5vh;
			border: black 1px solid;
			border-radius: 50px;
			width: 20vw;
		}

		.flex {
			display: inline-flex;
			margin: 0 0 3vh;
		}

		#src-but {
			background-color: #00B577;
			height: 5vh;
			width: 7vw;
			border-radius: 50px;
			margin-left: .5vw;
			justify-content: center;
			align-content: center;
		}




		/*------------ Desktop Product Page ------------*/

		#prod-des {
			grid-column: 3 / span 1;
			grid-row: 1 / span 1;
		}

		#prod-img {
			grid-column: 1/ span 2;
			grid-row: 1 / span 1;
		}

		#nut-lab {
			grid-column: 2 / span 2;
		}

		#product-image {
			grid-column: 4 / span 2;
		}

		.prd-text {
			display: block;
		}

		#store-list {
			grid-column: 2 / span 3;
		}

	}
   }